/* Global Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-padding: 10vh;
	scroll-behavior: smooth;
}

h1 {
	font-size: 2.6rem;
}

li,
button,
label,
input,
p {
	font-size: 2rem;
}

h2 {
	font-size: 4.8rem;
}

h3 {
	font-size: 3rem;
	font-weight: normal;
}

h4,
h5 {
	font-size: 2.8rem;
}

a {
	color: white;
	text-decoration: none;
}

button {
	padding: 2rem 6rem;
	background: #4c6e97;
	border: none;
	color: white;
	font-size: 1.8rem;
	cursor: pointer;
	transition: background 0.5s ease-in-out;
}

button:hover {
	background: #27394e;
}

body {
	font-family: "Cinzel", serif;
	font-family: "Poppins", sans-serif;
}

/* Nav Section */

.main-head {
	background: #131c27;
	color: white;
	position: sticky;
	top: 0px;
	z-index: 4;
}

nav {
	display: flex;
	width: 90%;
	margin: auto;
	padding: 2rem;
	min-height: 10vh;
	align-items: center;
	flex-wrap: wrap;
}

nav ul {
	display: flex;
	flex: 1 1 75rem;
	justify-content: space-around;
	list-style: none;
}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: rgb(204, 20, 179);
}

#logo {
	flex: 2 1 40rem;
	font-family: "Pattaya", sans-serif;
	font-weight: 400;
}

.burger,
.menu-check {
	display: none;
}

/* Welcome Section */

@keyframes welcome {
	from {
		color: white;
	}
	to {
		color: rgb(47, 91, 133);
	}
}

@keyframes mist {
	from {
		transform: translateX(-4rem);
	}
	to {
		transform: translateX(-1rem);
	}
}

@keyframes mist2 {
	from {
		transform: translateX(4rem);
	}
	to {
		transform: translateX(1rem);
	}
}

#welcome {
	display: flex;
	width: 100%;
}

.welcome-head {
	min-height: 90vh;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
		url("/img/pexels-flo-maderebner-755385.jpg") center center;
	position: relative;
	background-size: cover;
}

.welcome-head h2 {
	padding: 1rem 0rem;
	text-decoration: underline;
	text-decoration-thickness: 0.5rem;
	text-align: center;
	color: white;
	animation: welcome 1.7s ease infinite alternate;
	font-size: 10rem;
}

.welcome-head p {
	padding: 5rem;
	text-align: center;
	color: white;
	font-size: 5rem;
}

.mist-anim {
	position: absolute;
	display: flex;
	bottom: 0%;
	z-index: 2;
	animation: mist 3s infinite alternate ease-in-out;
	overflow: hidden;
	opacity: 0.5;
}

.mist-anim2 {
	position: absolute;
	display: flex;
	bottom: 0%;
	z-index: 1;
	overflow: hidden;
	opacity: 0.6;
	animation: mist2 3s infinite alternate ease-in-out;
}

/* About Us Section */

.about-us {
	min-height: 90vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
		url("/img/pastorsInside.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	display: flex;
	flex-direction: column;
}

.about-us h2 {
	padding: 1rem 0rem;
	text-decoration: underline;
	text-decoration-thickness: 0.5rem;
	text-align: left;
	color: white;
	font-size: 10rem;
}

.about-us p {
	padding: 5rem 0rem;
	color: white;
	text-shadow: 3px 3px black;
	font-size: 3rem;
	font-weight: bolder;
	margin-left: 0%;
	margin-top: 25%;
	margin-right: 20%;
	margin-bottom: 0%;
	text-align: left;
}

/* Hours of Worship Section */

#hours {
	min-height: 90vh;
	background: url("/img/pexels-wendy-van-zyl-1112048.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hours-head h2 {
	color: white;
	text-align: center;
}

.cards {
	width: 90%;
	margin: auto;
	display: flex;
	min-height: 70vh;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	text-align: center;
	flex: 1 1 25rem;
	min-height: 40vh;
	margin: 2rem 5rem;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.7), 0px 20px 20px rgba(0, 0, 0, 0.7);
}

.cards img {
	max-width: 15%;
	margin: 2rem;
}

.card h4 {
	color: white;
	text-align: center;
}

.card h4,
p {
	color: white;
	padding: 1rem;
}

.card-icon {
	background: #27394e;
}

/* Vist Us Section */

#location {
	background: url("/img/pexels-aksonsat-uanthoeng-1078850.jpg");
	min-height: 90vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.header-location h2 {
	padding: 1rem 0rem;
	color: white;
	font-size: 8rem;
	text-shadow: 3px 3px black;
	text-align: center;
	align-items: center;
}

.location-map {
	display: block;
	margin: 0 auto;
	width: 800px;
	height: 600px;
	border: 0;
}

/* Upcoming Events Section */

#up-coming {
	min-height: 90vh;
	background: url("/img/pexels-rodnae-productions-7551751.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Cinzel", serif;
}

.events-header h2 {
	font-size: 8rem;
	color: black;
	text-shadow: 3px 3px beige;
}

/* Contact Us Section */

#contact-us {
	min-height: 90vh;
	background: url("/img/pastorsOutside.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-wrapper {
	background: rgba(19, 28, 39, 0.5);
	width: 60%;
	color: white;
	border-radius: 20px;
}

.form-wrapper h2 {
	text-align: center;
}

.form-head {
	text-align: center;
	padding: 4rem;
}

.name-form,
.email-form,
.message-form {
	padding: 3rem;
	text-align: center;
}

.form-wrapper label {
	margin: 0rem 3rem;
	vertical-align: middle;
	align-items: center;
}

.form-wrapper label.message-label {
	vertical-align: middle;
}

.form-wrapper button {
	width: 100%;
	padding: 2rem;
	margin-top: 8rem;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.form-wrapper input {
	padding: 1rem 3rem;
}

/* Footer Section */

footer {
	display: flex;
	background: #131c27;
	min-height: 10vh;
	padding: 0% 20%;
	align-items: center;
	text-align: center;
}

/* Media Query */

@media screen and (max-height: 890px) {
	#welcome {
		animation: none;
	}
}

@media screen and (max-width: 842px) {
	#welcome {
		animation: none;
	}
	.welcome {
		width: 100%;
	}

	.welcome-head h2 {
		font-size: xx-large;
	}

	.welcome-head p {
		padding: 5rem 3rem;
		font-size: x-large;
	}

	.mist-anim {
		display: none;
	}

	.mist-anim2 {
		display: none;
	}

	/* Burger Menu */
	.burger {
		position: relative;
		display: block;
		cursor: pointer;
	}
	.burger span {
		padding: 0.2rem 2rem;
		background: white;
		margin: 0.5rem 0rem;
		display: block;
		transition: all 0.5s ease;
	}

	.nav-links a {
		color: white;
		font-size: 1.4rem;
		text-decoration: underline;
		align-items: flex-end;
	}

	.nav-links {
		background: black;
		color: white;
		width: 100%;
		height: 50%;
		position: fixed;
		top: 0;
		left: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		transition: transform 1s ease;
	}

	.nav-links ul {
		align-items: center;
		justify-content: space-around;
	}

	.nav-open {
		transform: translateX(-100%);
	}

	.toggle .line1 {
		transform: rotateZ(45deg) translateY(300%);
		background: white;
	}

	.toggle .line2 {
		opacity: 0;
	}

	.toggle .line3 {
		transform: rotateZ(-45deg) translateY(-300%);
		background: white;
	}

	/* About Us Section */

	.about-us header {
		padding: 3rem 3rem;
	}

	.about-us p {
		font-size: large;
		margin-left: 5%;
		margin-top: 5%;
		margin-bottom: 5%;
		position: absolute;
		word-wrap: normal;
		line-break: auto;
	}

	.about-us h2 {
		margin-left: 5%;
		font-size: xx-large;
	}

	/* Hours Section */

	.hours-head header {
		padding: 3rem 3rem;
	}

	.hours-head h2 {
		padding-top: 5%;
		font-size: large;
	}

	/* Location Section */

	.header-location header {
		padding: 3rem 3rem;
	}

	.header-location h2 {
		margin-left: 5%;
		font-size: xx-large;
	}

	/* Up Coing Events */

	#up-coming {
		background-size: cover;
	}

	.events-header header {
		padding: 3rem 3rem;
	}

	.events-header h2 {
		margin-left: 5%;
		font-size: xx-large;
	}

	/* Contact Us Section */

	#contact-us {
		background: lightskyblue;
	}

	.form-wrapper {
		background: rgba(19, 28, 39, 0.5);
		width: 80%;
		color: white;
		border-radius: 20px;
		position: relative;
		align-items: center;
	}

	.form-wrapper h2 {
		text-align: center;
	}

	.form-head {
		text-align: center;
		padding: 4rem;
	}

	.name-form,
	.email-form,
	.message-form {
		padding: 1rem;
		text-align: center;
	}

	.form-wrapper label {
		margin: 0rem 3rem;
		vertical-align: middle;
		align-items: center;
	}

	.form-wrapper label.message-label {
		vertical-align: middle;
	}

	.form-wrapper button {
		width: 100%;
		padding: 2rem;
		margin-top: 8rem;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	.form-wrapper input {
		padding: 1rem 2rem;
	}

	/* Footer Section */

	.footer-section p {
		font-size: large;
		text-align: center;
	}
}
